<%= render "layouts/menu" %>

<div class="container">
  <h3 class="text-center">Mesas</h3>
  <div>
    <%= link_to 'Adicionar Mesa', new_table_path, :class => "btn btn-primary", :style => "color: white" %>
  </div>
  <div class="row justify-content-md-center" style="margin-top: 10px">
    <% @tables.each do |table| %>
      <div class="card col-md-auto" style="width: 18rem; margin: 12px; min-height:110px;">
        <div class="card-body">
          <h6>Mesa: <%= table.number %></h6>
          <p style="font-size: 14px;"><%= open_label(table) %></p>
          <%= link_to 'Entrar na mesa', table, :class => "btn btn-primary", :style => "color: white" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
