<%= render "layouts/menu" %>

<div class="container">
  <h3 class="text-center">Itens da mesa <%= @table.number %></h3>
  <% if has_items %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td>R$ <%= item.price %></td>
            <td><%= item.quantity %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="table-success">
          <td><%= total_label %></td>
          <td>R$ <%= current_total %></td>
          <td><%= quantity_total %></td>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <h3 class="text-center">Nenhum item foi adicionado a essa mesa</h3>
  <% end %>

  <br />

  <% if is_open %>
    <%= link_to 'Adicionar Item', new_item_path, :class => "btn btn-warning", :style => "color: white" %>
    <br />
    <br />
    <%= button_to 'Fechar conta', close_table_path, method: :put %>
  <% end %>
</div>

