<div class="container">
  <%= form_with(model: item) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
          <% item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <div class="form-label">
        <%=  form.label :name %>
      </div>
        <%= form.text_field :name %>
    </div>

    <div class="field">
    <div class="form-label">
      <%= form.label :price %>
    </div>
      <%= form.text_field :price %>
    </div>

    <div class="field">
    <div class="form-label">
      <%= form.label :quantity %>
    </div>
      <%= form.number_field :quantity %>
    </div>

    <div class="field">
    <div class="form-label">
      <%= form.label "Mesa" %>
    </div>
      <%= collection_select(:item, :table_id, @tables, :id, :number) %> 
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-success', value: 'Adicionar' %>
    </div>
  <% end %>
</div>
